.bookContainer {
  display: grid;
  gap: 10px;
  padding: 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  background-color: aliceblue;
}
.browserBook {
  position: relative;
  background-color: silver;
  border-radius: 3px;
}
header {
  background-color: rgb(112, 112, 112);
}
.browserBook img {
  float:left;
  height: 100px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.browserBook h4, .browserBook p {
  margin:0px;
  margin-left: 4px;
}

.detailsLink {
  position: absolute;
  bottom: 0;
  right: 4px; 
}
.publicationDate {
  position: absolute;
  bottom: 0;
}

.searchBar {
  margin-left: 10px;
  padding: 8px;
  width: 40%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
} 

.btnAddBook {
  margin: 10px;
  width: 150px;
  height: 35px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.btnAddBook:hover {
  background-color: lightgray;
}