a:hover {
  color: lightgray;
}

header {
  height: 40px;
  text-align: center;
  padding-top:10px;
}

.link, .logout {
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
}